@model List<Classes.Company>
@{
    ViewData["Title"] = "Companies";
}
<input type="button" class="create"
       value="Create New" />

<div id="viewPlaceHolder"></div>

<table border="1" cellpadding="10">
    <tr>
        <th>Rec ID</th>
        <th>Company Name</th>
        <th colspan="2">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RecId</td>
            <td>@item.Name</td>
            <td>
                <input type="button" class="edit"
                       value="Edit" />
            </td>
            <td>
                <input type="button" class="delete"
                       value="Delete" />
            </td>
        </tr>
    }
</table>