@{
    ViewData["Title"] = "Home Page";
}
<div class="BContainer">
    <div class="round-button"><div class="round-button-circle"><a asp-area="" asp-controller="Customer" asp-action="Index" class="round-button">Customer Data</a></div></div>
    <div class="round-button"><div class="round-button-circle"><a asp-area="" asp-controller="Subscriber" asp-action="Index" class="round-button">Subscriber Data</a></div></div>
</div>
