@{
    ViewData["Title"] = "Home Page";
}
<div class="BContainer">
    <div class="LContainer">
        <a asp-area="" asp-controller="Customer" asp-action="Index" class="round-button"><img src="~/images/ClientData.png" /><br /><div>Client Data</div></a>
    </div>
    <div class="LContainer">
        <a asp-area="" asp-controller="Customer" asp-action="Index" class="round-button"><img src="~/images/ClientData.png" /><br /><div> Example</div></a>
    </div>

    <div class="LContainer">
        <a asp-area="" asp-controller="Customer" asp-action="Index" class="round-button"><img src="~/images/ClientData.png" /><br /><div> Example</div></a>
    </div>

    <div class="LContainer">
        <a asp-area="" asp-controller="Customer" asp-action="Index" class="round-button"><img src="~/images/ClientData.png" /><br /><div> Example</div></a>
    </div>
</div>
